@import url('https://fonts.googleapis.com/css?family=Overpass');

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
body {
  font-family: 'Overpass', sans-serif;
  text-rendering: optimizelegibility;
}

.skin-black .main-sidebar {
  background-color: #666666!important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #666666;
}

.wrapper {
    background-color: #ECF0F5;
}

.bg-green { background-color: #53A155!important; }
.bg-red   { background-color: #F13E48!important; }
.bg-blue  { background-color: #1C6AC7!important; }
.bg-yellow{ background-color: #FFE933!important; }
.bg-black { background-color: #666666!important; }

